$primary-color: #673dfc
$lite-blue: #28c8c6


*
	box-sizing: border-box

body
	padding: 0
	margin: 0
	font-family: 'Roboto Condensed', sans-serif
	// background: red	
	height: 6000px

// slider-dots
.carousel-indicators
	left: 5%
	top: 100%
	width: 54%
	padding-left: 80px

.carousel-indicators li
	width: 33px
	height: 7px
	background-color: #663cfc
	border: none
	border-radius: 2px

.carousel-indicators .active
	width: 33px
	height: 7px
	background-color: #fff
	border: none
	border-radius: 2px
.navbar
	font-size: 14px
	height: 0
	color: #fff
	z-index: 2
	background: transparent
	border: none
	position: absolute
	top: 0
	left: 0
	right: 0
	border-bottom: 1px solid #a386ff
	padding-bottom: 87px
.navbar .brand
	float: left
	width: 40%
	margin-top: 10px
	text-transform: uppercase

.navbar .links
	margin-top: 25px
.navbar .links li
	display: block
	text-transform: uppercase
	cursor: pointer

.navbar .links li a //.....................................................................
	color: #fff
	text-decoration: none
	padding: 3px 10px
	margin-top: 10px
	border-radius: 10px
	transition: 0.16s

.navbar .links li:hover a
	background: #fff
	color: $primary-color
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)




.navbar-default .navbar-nav button
	background: #fff
	color: $primary-color
	margin-top: 5px
	border: none
	border-radius: 17px
	padding: 8px 20px
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
	margin-left: 6px
	outline: none



// ...................................................

.hero-section
	height: 170vh
	background-image: linear-gradient(to left top, #673dfc, #7140fd, #7b43fd, #8446fe, #8c49ff)
	position: relative
	color: #fff
	.overlay
		position: absolute
		top: 0
		left: 0
		bottom: 0
		right: 0
		// background: rgba(85, 19, 145, 0.34)
		.contint
			margin-top: 15%
			h1
				text-transform: uppercase
				font-size: 50px
				font-weight: inherit
				margin: 0
				margin-bottom: 35px
				margin-top: 20px

			p
				font-size: 16px
				margin-bottom: 50px
	.services
		position: absolute
		// bottom: 90px
		z-index: 9999
		bottom: -130px
		.left
			background: #fff
			height: 500px
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23)
			padding: 35px 30px
			h3
				color: #af99fd
			p
				color: #000
			i
				font-size: 35px
				color: $primary-color
			.links
				.link
					.cer
						width: 10px
						height: 10px
						background: $primary-color
						border-radius: 50%
						display: inline-block
						margin-right: 15px
				p
					display: inline-block
					cursor: pointer
				p:hover
					color: $primary-color 
		button
			border: none
			background: transparent
			color: $primary-color
			outline: none
			i
				font-size: 8px
				color: red


		.center
			height: 500px
			padding: 35px 30px
			i
				font-size: 35px
				color: #fff
			

	.features:before     //curved div
		content: ""
		position: absolute
		left: 0
		right: 0
		bottom: -90px
		height: 200px
		background: #fff
		transform: skew(0,5deg)
		z-index: 0






// about-our-history


.about-our-history
	// position: relative
	margin-top: 250px
	text-align: center
	span
		// display: block
		text-transform: uppercase
	h1
		margin-bottom: 35px
	p
		margin-bottom: 35px

	button
		border: none
		background: transparent
		color: $primary-color
		outline: none
		margin-bottom: 35px
		i
			font-size: 8px


.gray
	width: 100%
	height: 300px
	background: #eeeeee


.customer-opinions
	text-align: center
	background: #8145fe
	color: #fff
	padding: 100px 10px
	p
		font-size: 20px
		margin-bottom: 35px
	.carousel-indicators
		top: 130%
		left: 50%

.our-latest
	padding: 100px 0
	span
		text-transform: uppercase
	.nav-tow
		margin-bottom: 50px
	ul
		li
			a
				color: #c7c7c7
				padding: 9px 23px
				margin-top: 50px
				transition: 0.16s
				border-radius: 17px
	.cards 
		.cadr
			margin-bottom: 35px

			.img
				height: 300px
				background-position: center center
				background-size: cover
				position: relative
				.overlay
					position: absolute
					top: 0
					bottom: 0
					left: 0
					right: 0
					background-color: $primary-color
					opacity: 0
					transition: 0.33s
				.overlay:hover
					opacity: 1
				.wight-left
					position: absolute
					top: 50%
					left: 40%
					transform: translate(-50%, -50%)
					background-color: #fff
					border-radius: 50%
					padding: 10px 13px
					cursor: pointer

				.wight-right
					position: absolute
					top: 50%
					left: 55%
					transform: translate(-50%, -50%)
					background-color: #fff
					border-radius: 50%
					padding: 10px 13px
					cursor: pointer







.our-latest li:hover a
	background: $primary-color
	color: #fff
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)



		























@media (max-width: 480px)

	.navbar .links li
		background: #431a54

	.hero-section .overlay .contint h1
		font-size: 35px
		margin-bottom: 15px

	.hero-section .overlay .contint input
		margin-bottom: 15px

	.flex-button
		padding: 4px 15px
		right: -39px
		bottom: 10%
	.hero-section .overlay .contint input
		padding: 10px 30px

	.hero-section .overlay .contint button
		padding: 5px 10px

	.hero-section .circle
		width: 70px
		height: 70px
		bottom: -75px

	.design .overlay .content img
		width: 280px

	.cards .card
		flex-basis: calc(100% - 20px)

	.Shuffle-Plugin .border button
		margin: 0
		padding: 15px 0
		width: 100%
	.push-yourself .content h1
		font-size: 50px

	.Laptop
		display: none
	.footer
		margin-bottom: 100px
		p
			text-align: center
		h4
			text-align: center

		.Tweet
			margin-top: 50px
